@import "tailwindcss";

.container-card {
  position: relative;
  border-radius: 30px;
  padding: 24px;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  z-index: 1;
  overflow: hidden;
  
}

/* Gradient Border Layer */
.container-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px; /* border thickness */
  border-radius: inherit;

  background: linear-gradient(
    120deg,
    rgba(168, 85, 247, 0.35),
    rgba(59, 130, 246, 0.15),
    rgba(168, 85, 247, 0.35)
  );

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
          mask-composite: exclude;

  pointer-events: none;
}

